/TgBotBoileplate/TgBotBoileplate.Service/appsettings.development.json
/TgBotBoileplate/TgBotBoileplate.DAL/bin
/TgBotBoileplate/TgBotBoileplate.DAL/obj
/TgBotBoileplate/TgBotBoileplate.Service/obj
/TgBotBoileplate/TgBotBoileplate.Service/bin
/TgBotBoileplate/.vs
